<!Doctype>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="demo">
  <select v-model="levelSelect" v-on="change: changeLvl(levelSelect)" options="options">
    <option value='8'>Select Level</option>
  </select>
  <div id="infoboard">
    <h3>Width: {{level}}</h3>
    <h3>Height: {{horizontal}}</h3>
    <h3>Bombs: {{bombnum}}</h3>
  </div>
  <div id="frm_container" v-if="levelSelect == 9">
    <label for="lselect">Width: </label>
    <input id="lselect" type="number" v-model="lvlSelect"/><br/>
    <label for="hselect">Height: </label>
    <input id="hselect" type="number" v-model="horizontalSelect"/><br/>
    <label for="bselect">Bombs: </label>
    <input id="bselect" type="number" v-model="bombSelect"/><br/>
    <button v-on="click: customValues">OK</button>
  </div>
  <div id="minesweepercont">
  <minesweeper>
    <vertical v-repeat="level" class="box" id="f_{{vid = $index}}">
      <horizontal v-repeat="horizontal" class="box" id="{{hid=$index+1}}" data-revealed="false">
        <cell picture="shadow0.gif" vid="{{vid}}" hid="{{hid}}" bomb="hasBomb" id="b_{{hid}}_{{vid}}" ></cell>
      </horizontal>
    </vertical>
  </minesweeper>
  </div>
</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>